.App {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding: 40px;
}

.header{
  padding-top: 10px;
  text-align: left;
}

.meta {
  text-align: left;
}

.description{
  font-size: 25px;
}

.icons {
  padding-top: 10px;
  text-align: right;
}
